<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mening.dasturim.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ResultActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".QuestionActivity5"

            android:theme="@style/Theme.Question5"/>
        <activity android:name=".QuestionActivity4"

            android:theme="@style/Theme.Question4"/>
        <activity android:name=".QuestionActivity3"

            android:theme="@style/Theme.Question3"/>
        <activity android:name=".Question2Activity"

            android:theme="@style/Theme.Question2"
            />
        <activity android:name=".MainActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>